<div>
  <h1>User info</h1>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h3>name <%= @user.name %></h3>
  <h3>introduction <%= @user.introduction %></h3>
  <p><%= link_to "プロフィール編集", edit_user_path(@user.id) %></p>
</div>

<h1>Books</h1>
<% @books.each do |book| %>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= image_tag @user.get_profile_image(80,80) %></td>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
      </tr>
    </tbody>
  </table>
<% end %>
